In [1]:
from pathlib import Path
from tools.eda_plot import read_folds,score_folds
import matplotlib.pyplot as plt
plt.style.use("ggplot")

path_root = Path("../../../data")

In [2]:

df_normal = score_folds(path_data=path_root,folds = 5,mode = [])
df_normal

fold::   0%|          | 0/5 [00:00<?, ?it/s]

fold:: 100%|██████████| 5/5 [00:27<00:00,  5.46s/it]

     fold_0    fold_1    fold_2    fold_3    fold_4       Avg
0  0.767334  0.771729  0.709821  0.767179  0.740669  0.751346

In [3]:
df_adapt = score_folds(path_data=path_root,folds = 5,mode = ["adapt_sleep_prob"])
df_adapt

fold::   0%|          | 0/5 [00:00<?, ?it/s]/opt/conda/lib/python3.10/site-packages/numpy/lib/function_base.py:1447: RuntimeWarning: invalid value encountered in subtract
  a = op(a[slice1], a[slice2])
fold::  60%|██████    | 3/5 [00:30<00:20, 10.07s/it]/opt/conda/lib/python3.10/site-packages/numpy/lib/function_base.py:1447: RuntimeWarning: invalid value encountered in subtract
  a = op(a[slice1], a[slice2])
fold::  80%|████████  | 4/5 [00:39<00:09,  9.58s/it]/opt/conda/lib/python3.10/site-packages/numpy/lib/function_base.py:1447: RuntimeWarning: invalid value encountered in subtract
  a = op(a[slice1], a[slice2])
fold:: 100%|██████████| 5/5 [00:49<00:00,  9.81s/it]

     fold_0    fold_1    fold_2  fold_3   fold_4       Avg
0  0.685752  0.680928  0.682649  0.6642  0.66619  0.675944

In [4]:

df_cut = score_folds(path_data=path_root,folds = 5,mode = ["cut_sleep_prob"])
df_cut

fold::   0%|          | 0/5 [00:00<?, ?it/s]/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/conda/lib/python3.10/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in divide
  ret = arr.dtype.type(ret / rcount)
fold::  20%|██        | 1/5 [00:05<00:21,  5.39s/it]/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/conda/lib/python3.10/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in divide
  ret = arr.dtype.type(ret / rcount)
fold::  40%|████      | 2/5 [00:10<00:16,  5.48s/it]/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/conda/lib/python3.10/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in divide
  ret = arr.dtype.type(ret / rcount)
fold::  60%|██████    | 3/5 [00:16<00:11,  5.71s/it]/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/conda/lib/python3.10/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in divide
  ret = arr.dtype.type(ret / rcount)
fold::  80%|████████  | 4/5 [00:22<00:05,  5.53s/it]/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/conda/lib/python3.10/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in divide
  ret = arr.dtype.type(ret / rcount)
fold:: 100%|██████████| 5/5 [00:27<00:00,  5.51s/it]

     fold_0    fold_1    fold_2   fold_3    fold_4      Avg
0  0.768448  0.773352  0.715171  0.77756  0.744767  0.75586

In [5]:

df_both = score_folds(path_data=path_root,folds = 5,mode = ["adapt_sleep_prob","cut_sleep_prob"])
df_both

fold::   0%|          | 0/5 [00:00<?, ?it/s]/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/conda/lib/python3.10/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in divide
  ret = arr.dtype.type(ret / rcount)
/opt/conda/lib/python3.10/site-packages/numpy/lib/function_base.py:1447: RuntimeWarning: invalid value encountered in subtract
  a = op(a[slice1], a[slice2])
fold::  20%|██        | 1/5 [00:11<00:45, 11.39s/it]/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/conda/lib/python3.10/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in divide
  ret = arr.dtype.type(ret / rcount)
fold::  40%|████      | 2/5 [00:21<00:31, 10.55s/it]/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/conda/lib/python3.10/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in divide
  ret = arr.dtype.type(ret / rcount)
fold::  60%|██████    | 3/5 [00:31<00:21, 10.51s/it]/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/conda/lib/python3.10/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in divide
  ret = arr.dtype.type(ret / rcount)
/opt/conda/lib/python3.10/site-packages/numpy/lib/function_base.py:1447: RuntimeWarning: invalid value encountered in subtract
  a = op(a[slice1], a[slice2])
fold::  80%|████████  | 4/5 [00:41<00:10, 10.16s/it]/opt/conda/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/conda/lib/python3.10/site-packages/numpy/core/_methods.py:188: RuntimeWarning: invalid value encountered in divide
  ret = arr.dtype.type(ret / rcount)
/opt/conda/lib/python3.10/site-packages/numpy/lib/function_base.py:1447: RuntimeWarning: invalid value encountered in subtract
  a = op(a[slice1], a[slice2])
fold:: 100%|██████████| 5/5 [00:51<00:00, 10.33s/it]

     fold_0    fold_1    fold_2    fold_3    fold_4       Avg
0  0.681986  0.679525  0.684222  0.669192  0.666284  0.676242

In [6]:
df_normal

     fold_0    fold_1    fold_2    fold_3    fold_4       Avg
0  0.767334  0.771729  0.709821  0.767179  0.740669  0.751346

In [7]:
df_adapt

     fold_0    fold_1    fold_2  fold_3   fold_4       Avg
0  0.685752  0.680928  0.682649  0.6642  0.66619  0.675944

In [8]:
df_cut

     fold_0    fold_1    fold_2   fold_3    fold_4      Avg
0  0.768448  0.773352  0.715171  0.77756  0.744767  0.75586

In [9]:
df_both

     fold_0    fold_1    fold_2    fold_3    fold_4       Avg
0  0.681986  0.679525  0.684222  0.669192  0.666284  0.676242

In [10]:
#list_data = read_folds(path_data=path_root,folds = 5,mode=["cut_sleep_prob"])